In [2]:
import graphlab

In [3]:
people = graphlab.SFrame('people_wiki.sframe')

This non-commercial license of GraphLab Create for academic use is assigned to chalanikasewwandi@gmail.com and will expire on June 20, 2021.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\user\AppData\Local\Temp\graphlab_server_1592961619.log.0

In [4]:
people.head()

Columns:
	URI	str
	name	str
	text	str

Rows: 10

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[10 rows x 3 columns]

In [6]:
people.tail()

Columns:
	URI	str
	name	str
	text	str

Rows: 10

Data:
+-------------------------------+-------------------------------+
|              URI              |              name             |
+-------------------------------+-------------------------------+
| <http://dbpedia.org/resour... |            Rod Wilt           |
| <http://dbpedia.org/resour... |      Scott Baker (judge)      |
| <http://dbpedia.org/resour... |     Dragoljub Ojdani%C4%87    |
| <http://dbpedia.org/resour... |           Oz Bengur           |
| <http://dbpedia.org/resour... | Dee Brown (basketball, bor... |
| <http://dbpedia.org/resour... |           Olari Elts          |
| <http://dbpedia.org/resour... |         Scott F. Crago        |
| <http://dbpedia.org/resour... |    David Cass (footballer)    |
| <http://dbpedia.org/resour... |          Keith Elias          |
| <http://dbpedia.org/resour... |          Fawaz Damrah         |
+-------------------------------+-------------------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| rod wilt is a former repub... |
| sir thomas scott gillespie... |
| dragoljub ojdani serbian c... |
| osman oz bengur born febru... |
| decovan kadell dee brown b... |
| olari elts born april 27 1... |
| scott francis crago born j... |
| david william royce cass b... |
| keith hector elias born fe... |
| fawaz mohammed damrah arab... |
+-------------------------------+
[10 rows x 3 columns]

In [7]:
people.sort('text')

Columns:
	URI	str
	name	str
	text	str

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |     108 (artist)    |
| <http://dbpedia.org/resour... |        1.8.7        |
| <http://dbpedia.org/resour... | Diane Carlson Evans |
| <http://dbpedia.org/resour... |    Robert Godley    |
| <http://dbpedia.org/resour... |     Lisa Mullins    |
| <http://dbpedia.org/resour... |   Martijn Meeuwis   |
| <http://dbpedia.org/resour... |    8 Ball Aitken    |
| <http://dbpedia.org/resour... |  8th Arjia Rinpoche |
| <http://dbpedia.org/resour... |      Jim Gould      |
| <http://dbpedia.org/resour... |   David L. Holmes   |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| 108 born 1978 is an italia... |
| 187 is a pseudonym for jor... |
| 1lt diane carlson evans an... |
| 1robert godley b 7 july 19... |
| 2012 gracie award winner l... |
| 250px250pxmartijn meeuwis ... |
| 8 ball aitken born 8 june ... |
| 8th agya hotogtu lobsang t... |
| a canadian foreign affairs... |
| a church historian david l... |
+-------------------------------+
[59071 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [8]:
people[3]

{'URI': '<http://dbpedia.org/resource/Franz_Rottensteiner>',
 'name': 'Franz Rottensteiner',
 'text': 'franz rottensteiner born in waidmannsfeld lower austria austria on 18 january 1942 is an austrian publisher and critic in the fields of science fiction and the fantasticrottensteiner studied journalism english and history at the university of vienna receiving his doctorate in 1969 he served about fifteen years as librarian and editor at the sterreichisches institut fr bauforschung in vienna in addition he produced a number of translations into german of leading sf authors including herbert w franke stanislaw lem philip k dick kobo abe cordwainer smith brian w aldiss and the strugatski brothersin 1973 his new york anthology view from another shore of european science fiction introduced a number of continental authors to the englishreading public some of the authors in the work are stanislaw lem josef nesvadba gerard klein and jeanpierre andrevonthe year 1975 saw the start of his series die phantastischen romane for seven years it republished works of both lesser and betterknown writers as well as new ones ending with a total of 28 volumes in the years 19791985 he brought out trnaslations of h g wellss works in an eighteen volumes seriesrottensteiner provoked some controversy with his negative assessment of american science fiction what matters is the highest achievements and there the us has yet to produce a figure comparable to hg wells olaf stapledon karel apek or stanisaw lem rottensteiner describedroger zelazny barry n malzberg and robert silverberg as producing travesties of fiction and stated asimov is a typical nonwriter and heinlein and andersonare just banal however rottensteiner praised philip k dick listing him as one of the greatest sf writers from 1980 through 1998 he was advisor for suhrkamp verlags phantastische bibliothek which brought out some three hundred books in all he has edited about fifty anthologies produced two illustrated books the science fiction book 1975 und the fantasy book 1978 as well as working on numerous reference works on science fiction his close association with and promotion of lem until 1995 was a factor in the recognition of the latter in the united statesrottensteiner has been the editor of quarber merkur the leading german language critical journal of science fiction since 1963 in 2004 on the occasion of the hundredth number of this journal he was awarded a special kurdlawitzpreis'}

In [9]:
people[2]

{'URI': '<http://dbpedia.org/resource/Harpdog_Brown>',
 'name': 'Harpdog Brown',
 'text': 'harpdog brown is a singer and harmonica player who has been active in canadas blues scene since 1982 hailing from vancouver he crossed tens of thousands of miles playing club dates and festivals in canada the northwestern united states and germanyover the years he has issued seven cds in 1995 his home is where the harp is won the muddy award for the best nw blues release from the cascade blues association in portland oregon as well that year it was nominated for a canadian juno for the best bluesgospel recording teamed up with graham guest on piano his cd naturally was voted 1 canadian blues album of 2010 by the blind lemon surveybrown tours extensively with his guitarist j arthur edmonds performing their electric mid1950s chicago blues either as a duo or with the full band while he is home he juggles a few combos working many venues big and small he also leads the harpdog brown band which is a gutsy traditional chicago blues band in 2014 they released what it is comprising mainly original songs and a few classic covers influential blues promoter and broadcaster holger petersen called what it is browns best albumhe was just awarded the maple blues award in toronto for best harmonica player in canada 2014 and was honored with a life time membership to the hamilton blues society'}

# Compare top words according to word counts to TF-IDF:

In [10]:
john = people[people['name']=='Elton John']

In [11]:
john['word count'] = graphlab.text_analytics.count_words(john['text'])

In [12]:
john_word_count_table = john[['word count']].stack('word count',new_column_name =['word','count']).sort('count', ascending=False)

In [13]:
john_word_count_table

Columns:
	word	str
	count	int

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   27  |
|   in  |   18  |
|  and  |   15  |
|   of  |   13  |
|   a   |   10  |
|  has  |   9   |
|   he  |   7   |
|  john |   7   |
|   on  |   6   |
| since |   5   |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [15]:
people['word count'] = graphlab.text_analytics.count_words(people['text'])

In [16]:
people['tfidf'] = graphlab.text_analytics.tf_idf(people['word count'])

In [17]:
john = people[people['name']=='Elton John']

In [18]:
john[['tfidf']].stack('tfidf',new_column_name =['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 255

Data:
+---------------+---------------+
|      word     |     tfidf     |
+---------------+---------------+
|    furnish    |  18.38947184  |
|     elton     |  17.48232027  |
|   billboard   | 17.3036809575 |
|      john     | 13.9393127924 |
|  songwriters  |  11.250406447 |
|  overallelton | 10.9864953892 |
| tonightcandle | 10.9864953892 |
|    19702000   | 10.2933482087 |
|   fivedecade  | 10.2933482087 |
|      aids     |  10.262846934 |
+---------------+---------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Measuring distance:

In [23]:
beckham = people[people['name']=='Victoria Beckham']

In [21]:
paul = people[people['name']=='Paul McCartney']

In [24]:
graphlab.distances.cosine(john['tfidf'][0],beckham['tfidf'][0])

0.9567006376655429

In [25]:
graphlab.distances.cosine(john['tfidf'][0],paul['tfidf'][0])

0.8250310029221779

In [26]:
knn_model = graphlab.nearest_neighbors.create(people,features=['tfidf'],label='name')

Starting brute force nearest neighbors model training.

In [28]:
knn_model2 = graphlab.nearest_neighbors.create(people,features=['word count'],label='name')

Starting brute force nearest neighbors model training.

In [29]:
knn_model.query(john)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 26.905ms     |

| Done         |         | 100         | 158.463ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |    Elton John   |      0.0       |  1   |
|      0      |   Phil Collins  | 0.76399026764  |  2   |
|      0      |   Rod Stewart   | 0.773333333333 |  3   |
|      0      |   Annie Lennox  | 0.776623376623 |  4   |
|      0      |    Barry Gibb   | 0.780952380952 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

In [30]:
knn_model2.query(john)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 8.972ms      |

| Done         |         | 100         | 141.527ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |    Elton John   |      0.0       |  1   |
|      0      |   Phil Collins  | 0.76399026764  |  2   |
|      0      |   Rod Stewart   | 0.773333333333 |  3   |
|      0      |   Annie Lennox  | 0.776623376623 |  4   |
|      0      |    Barry Gibb   | 0.780952380952 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

In [34]:
billy = people[people['name']=='Billy Joel']

In [38]:
graphlab.distances.cosine(john['word count'][0],billy['word count'][0])

0.2222176478184027

In [36]:
richard = people[people['name']=='Cliff Richard']

In [39]:
graphlab.distances.cosine(john['word count'][0],richard['word count'][0])

0.16142415258967036

In [44]:
roger = people[people['name']=='Roger Daltrey']

In [45]:
graphlab.distances.cosine(john['word count'][0],roger['word count'][0])

0.17755418466559603

In [48]:
bush = people[people['name']=='George Bush']

In [49]:
graphlab.distances.cosine(john['word count'][0],bush['word count'][0])

IndexError: SArray index out of range